@font-face {
  font-family: "iconfont"; /* Project id 4029277 */
  src: url('//at.alicdn.com/t/c/font_4029277_u6fk38wmkr.woff2?t=1746954649919') format('woff2'),
       url('//at.alicdn.com/t/c/font_4029277_u6fk38wmkr.woff?t=1746954649919') format('woff'),
       url('//at.alicdn.com/t/c/font_4029277_u6fk38wmkr.ttf?t=1746954649919') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-icon-test:before {
  content: "\e66d";
}

.icon-mulu1:before {
  content: "\e603";
}

.icon-rili1:before {
  content: "\e625";
}

.icon-pinglun:before {
  content: "\e65f";
}

.icon-rili:before {
  content: "\e811";
}

.icon-zhexiantu:before {
  content: "\e602";
}

.icon-guidang:before {
  content: "\eca6";
}

.icon-chaxunlishi:before {
  content: "\e730";
}

.icon-gonggao:before {
  content: "\eca7";
}

.icon-youxiang:before {
  content: "\e678";
}

.icon-github:before {
  content: "\e66f";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-guanyu:before {
  content: "\e7e8";
}

.icon-sousuoxiao:before {
  content: "\e8d6";
}

.icon-shouye:before {
  content: "\e601";
}

.icon-lianjie:before {
  content: "\e600";
}

.icon-fenlei:before {
  content: "\e658";
}

.icon-biaoqian:before {
  content: "\e629";
}

.icon-zerenqingdan:before {
  content: "\e8b4";
}

.icon-timeline-fill:before {
  content: "\e6b5";
}
